#Universidad Nacional de San Antonio Abad del Cusco

*   Nombre: Fiorella Choque Bueno
*   Codigo: 160889

In [1]:
!pip install pyspark
!pip install pyspark==3.0.1 py4j==0.10.9

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 43.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=9623530114e172925fc52f36fb717ca640199aeb2d903a2093f59b8c01615fa8
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
Collecting pyspark==3.0.1
  Downloading pyspark-3.0.1.tar.gz (204.2 MB)
     |████████████████████████████████| 204.2 MB 32 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 56.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612246 sha256=1eaaabb7853f881f58c787ee2ddfe6bbbfc6ff5f562c6268b76ef8ac6f08a2ec
  Stored in directory: /root/.cache/pip/wheels/5e/34/fa/b37b5cef503fc5148b478b2495043ba61b079120b7ff379f9b
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.2
    Uninstalling py4j-0.10.9.2:
      Successfully uninstalled py4j-0.10.9.2
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.2.0
    Uninstalling pyspark-3.2.0:
      Successfully uninstalled pyspark-3.2.0
Successfully installed py4j-0.10.9 pyspark-3.0.1

#Implementar BoW PySpark usando mapreduce en el algoritmo TF-IDF

In [2]:
import math
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
sc =SparkContext.getOrCreate()
import os
import re
import nltk.corpus
from nltk import corpus

#Frecuencia de término de cómputo (TF)
La frecuencia del término es el número de veces que aparece una palabra en particular en un documento.

* Usaremos un ejemplo para la implementación de tf y idf
* Realizaremos la tokenización
* Implementaremos el código para obtener el TF de nuestro ejemplo
* Mostraremos el resultado obtenido
* Implementaremos el código para obtener el IDF de nuestro ejemplo
* Mostraremos los resultados obtenidos
* Implementaremos el código para TF-IDF
* Mostraremos en una tabla los resultados obtenidos

In [3]:
#Utilizamos un data con 4 títulos de obras literarias
data=[(1,'el capitán salió a comer y los marineros tomaron el barco'),
      (2,'crónica del pájaro que da cuerda al mundo'),
      (3,'el curioso incidente del perro a medianoche'),
      (4,'el hombre que susurraba a los caballos')]
lines=sc.parallelize(data)
lines.collect()
map1=lines.flatMap(lambda x: [((x[0],i),1) for i in x[1].split()])
map1.collect()
reduce=map1.reduceByKey(lambda x,y:x+y)
reduce.collect()

[((1, 'capitán'), 1),
 ((1, 'a'), 1),
 ((2, 'crónica'), 1),
 ((2, 'del'), 1),
 ((2, 'pájaro'), 1),
 ((2, 'que'), 1),
 ((2, 'da'), 1),
 ((2, 'al'), 1),
 ((2, 'mundo'), 1),
 ((3, 'curioso'), 1),
 ((3, 'incidente'), 1),
 ((3, 'a'), 1),
 ((4, 'el'), 1),
 ((4, 'hombre'), 1),
 ((4, 'que'), 1),
 ((4, 'susurraba'), 1),
 ((4, 'los'), 1),
 ((1, 'el'), 2),
 ((1, 'salió'), 1),
 ((1, 'comer'), 1),
 ((1, 'y'), 1),
 ((1, 'los'), 1),
 ((1, 'marineros'), 1),
 ((1, 'tomaron'), 1),
 ((1, 'barco'), 1),
 ((2, 'cuerda'), 1),
 ((3, 'el'), 1),
 ((3, 'del'), 1),
 ((3, 'perro'), 1),
 ((3, 'medianoche'), 1),
 ((4, 'a'), 1),
 ((4, 'caballos'), 1)]

In [5]:
# Algoritmo término de frecuencia (TF)
tf=reduce.map(lambda x: (x[0][1],(x[0][0],x[1])))
tf.collect()

map3=reduce.map(lambda x: (x[0][1],(x[0][0],x[1],1)))
map3.collect()

map4=map3.map(lambda x:(x[0],x[1][2]))
map4.collect()

reduce2=map4.reduceByKey(lambda x,y:x+y)
reduce2.collect()

[('crónica', 1),
 ('del', 2),
 ('pájaro', 1),
 ('que', 2),
 ('da', 1),
 ('al', 1),
 ('mundo', 1),
 ('el', 3),
 ('hombre', 1),
 ('susurraba', 1),
 ('los', 2),
 ('salió', 1),
 ('comer', 1),
 ('y', 1),
 ('marineros', 1),
 ('tomaron', 1),
 ('barco', 1),
 ('perro', 1),
 ('medianoche', 1),
 ('capitán', 1),
 ('a', 3),
 ('curioso', 1),
 ('incidente', 1),
 ('cuerda', 1),
 ('caballos', 1)]

In [6]:
# Algoritmo término de frecuencia (IDF)
idf=reduce2.map(lambda x: (x[0],math.log10(len(data)/x[1])))
idf.collect()

rdd=tf.join(idf)
rdd.collect()

[('el', ((4, 1), 0.12493873660829992)),
 ('el', ((1, 2), 0.12493873660829992)),
 ('el', ((3, 1), 0.12493873660829992)),
 ('susurraba', ((4, 1), 0.6020599913279624)),
 ('los', ((4, 1), 0.3010299956639812)),
 ('los', ((1, 1), 0.3010299956639812)),
 ('salió', ((1, 1), 0.6020599913279624)),
 ('y', ((1, 1), 0.6020599913279624)),
 ('tomaron', ((1, 1), 0.6020599913279624)),
 ('capitán', ((1, 1), 0.6020599913279624)),
 ('a', ((1, 1), 0.12493873660829992)),
 ('a', ((3, 1), 0.12493873660829992)),
 ('a', ((4, 1), 0.12493873660829992)),
 ('curioso', ((3, 1), 0.6020599913279624)),
 ('caballos', ((4, 1), 0.6020599913279624)),
 ('crónica', ((2, 1), 0.6020599913279624)),
 ('del', ((2, 1), 0.3010299956639812)),
 ('del', ((3, 1), 0.3010299956639812)),
 ('pájaro', ((2, 1), 0.6020599913279624)),
 ('que', ((2, 1), 0.3010299956639812)),
 ('que', ((4, 1), 0.3010299956639812)),
 ('da', ((2, 1), 0.6020599913279624)),
 ('al', ((2, 1), 0.6020599913279624)),
 ('mundo', ((2, 1), 0.6020599913279624)),
 ('hombre', ((4, 1), 0.6020599913279624)),
 ('comer', ((1, 1), 0.6020599913279624)),
 ('marineros', ((1, 1), 0.6020599913279624)),
 ('barco', ((1, 1), 0.6020599913279624)),
 ('perro', ((3, 1), 0.6020599913279624)),
 ('medianoche', ((3, 1), 0.6020599913279624)),
 ('incidente', ((3, 1), 0.6020599913279624)),
 ('cuerda', ((2, 1), 0.6020599913279624))]

In [7]:
# Algoritmo término de frecuencia (TF-IDF)
rdd=rdd.map(lambda x: (x[1][0][0],(x[0],x[1][0][1],x[1][1],x[1][0][1]*x[1][1]))).sortByKey()
rdd.collect()

[(1, ('el', 2, 0.12493873660829992, 0.24987747321659984)),
 (1, ('los', 1, 0.3010299956639812, 0.3010299956639812)),
 (1, ('salió', 1, 0.6020599913279624, 0.6020599913279624)),
 (1, ('y', 1, 0.6020599913279624, 0.6020599913279624)),
 (1, ('tomaron', 1, 0.6020599913279624, 0.6020599913279624)),
 (1, ('capitán', 1, 0.6020599913279624, 0.6020599913279624)),
 (1, ('a', 1, 0.12493873660829992, 0.12493873660829992)),
 (1, ('comer', 1, 0.6020599913279624, 0.6020599913279624)),
 (1, ('marineros', 1, 0.6020599913279624, 0.6020599913279624)),
 (1, ('barco', 1, 0.6020599913279624, 0.6020599913279624)),
 (2, ('crónica', 1, 0.6020599913279624, 0.6020599913279624)),
 (2, ('del', 1, 0.3010299956639812, 0.3010299956639812)),
 (2, ('pájaro', 1, 0.6020599913279624, 0.6020599913279624)),
 (2, ('que', 1, 0.3010299956639812, 0.3010299956639812)),
 (2, ('da', 1, 0.6020599913279624, 0.6020599913279624)),
 (2, ('al', 1, 0.6020599913279624, 0.6020599913279624)),
 (2, ('mundo', 1, 0.6020599913279624, 0.6020599913279624)),
 (2, ('cuerda', 1, 0.6020599913279624, 0.6020599913279624)),
 (3, ('el', 1, 0.12493873660829992, 0.12493873660829992)),
 (3, ('a', 1, 0.12493873660829992, 0.12493873660829992)),
 (3, ('curioso', 1, 0.6020599913279624, 0.6020599913279624)),
 (3, ('del', 1, 0.3010299956639812, 0.3010299956639812)),
 (3, ('perro', 1, 0.6020599913279624, 0.6020599913279624)),
 (3, ('medianoche', 1, 0.6020599913279624, 0.6020599913279624)),
 (3, ('incidente', 1, 0.6020599913279624, 0.6020599913279624)),
 (4, ('el', 1, 0.12493873660829992, 0.12493873660829992)),
 (4, ('susurraba', 1, 0.6020599913279624, 0.6020599913279624)),
 (4, ('los', 1, 0.3010299956639812, 0.3010299956639812)),
 (4, ('a', 1, 0.12493873660829992, 0.12493873660829992)),
 (4, ('caballos', 1, 0.6020599913279624, 0.6020599913279624)),
 (4, ('que', 1, 0.3010299956639812, 0.3010299956639812)),
 (4, ('hombre', 1, 0.6020599913279624, 0.6020599913279624))]

In [8]:
#Se muestra solo las primeras 20 líneas
spark = SparkSession(sc)
rdd=rdd.map(lambda x: (x[0],x[1][0],x[1][1],x[1][2],x[1][3]))
hasattr(rdd, "toDF")
rdd.toDF(["ID del Documento","Token","TF","IDF","TF-IDF"]).show()

+----------------+---------+---+-------------------+-------------------+
|ID del Documento|    Token| TF|                IDF|             TF-IDF|
+----------------+---------+---+-------------------+-------------------+
|               1|       el|  2|0.12493873660829992|0.24987747321659984|
|               1|      los|  1| 0.3010299956639812| 0.3010299956639812|
|               1|    salió|  1| 0.6020599913279624| 0.6020599913279624|
|               1|        y|  1| 0.6020599913279624| 0.6020599913279624|
|               1|  tomaron|  1| 0.6020599913279624| 0.6020599913279624|
|               1|  capitán|  1| 0.6020599913279624| 0.6020599913279624|
|               1|        a|  1|0.12493873660829992|0.12493873660829992|
|               1|    comer|  1| 0.6020599913279624| 0.6020599913279624|
|               1|marineros|  1| 0.6020599913279624| 0.6020599913279624|
|               1|    barco|  1| 0.6020599913279624| 0.6020599913279624|
|               2|  crónica|  1| 0.6020599913279624| 0.6020599913279624|
|               2|      del|  1| 0.3010299956639812| 0.3010299956639812|
|               2|   pájaro|  1| 0.6020599913279624| 0.6020599913279624|
|               2|      que|  1| 0.3010299956639812| 0.3010299956639812|
|               2|       da|  1| 0.6020599913279624| 0.6020599913279624|
|               2|       al|  1| 0.6020599913279624| 0.6020599913279624|
|               2|    mundo|  1| 0.6020599913279624| 0.6020599913279624|
|               2|   cuerda|  1| 0.6020599913279624| 0.6020599913279624|
|               3|       el|  1|0.12493873660829992|0.12493873660829992|
|               3|        a|  1|0.12493873660829992|0.12493873660829992|
+----------------+---------+---+-------------------+-------------------+
only showing top 20 rows